@import url(mixins.less);
@import url(varibles.less);
@import url(fonts.less);
@import url(header.less);
@import url(about.less);
@import url(three-d-gift.less);

body {
	font-family: @open-font;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: @main-font-color;
	min-width: 1024px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}


h1 {
	font-size: 30px;
	line-height: auto;
	font-weight: bold;
	color: #0d0d0d;
}

h2 {
	font-style: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #0d0d0d;
}


