@import url(mixins.less);
@import url(varibles.less);
@import url(fonts.less);
@import url(header.less);
@import url(about.less);

body {
	font-family: @open-font;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: @main-font-color;
	min-width: 1024px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #fff;
}


h1 {
	font-size: 30px;
	line-height: auto;
	font-weight: bold;
	color: #0d0d0d;
}

h2 {
	font-style: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #0d0d0d;
}

.three-d-gift {
	clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%, 0% 0%);
	clip-path: url(#three-d-clip);
	background-image: url(../img/3d-gift-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 600;
	svg {
		position: absolute;
	}
	.three-d-gift-container {
		.container();
		padding-top: 260px;
		padding-bottom: 170px;
		text-align: center;
		color: #fff;
		.tip {
			font-size: 45px;
			line-height: 60px;
			font-weight: bold;
			margin-bottom: 50px;
			position: relative;
			&::after {
				content: '';
				display: block;
				width: 50px;
				height: 4px;
				background-color: @main-orange-bright;
				position: absolute;
				right: 50%;
				margin-right: -25px;
				bottom: -25px;
			}
		}
		span {
			display: block;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 30px;
		}
		.btn {
			display: inline-block;
				width: 160px;
				height: 42px;
				text-transform: uppercase;
				line-height: 37px;
				font-weight: bold;
				font-size: 15px;
				border: 2px solid #fff;
				transition: background, color .2s, .2s;
				&:hover {
					background-color: #fff;
					color: #333;
				}
		}
	}
}
